{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Мой профиль
{% endblock title %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
    <div class="my-profile-content card">
        {% if confirm %}
            <div class="alert alert-primary" role="alert">
                Your profile updated
            </div>
        {% endif %}
        <div class="text-center">
            <img src="{{profile.logo.url}}" alt="my-profile" class="avatar-big">
        </div>
        <br>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <hr>
            <button type="submit" class="btn btn-primary">update</button>
        </form>
    </div>
    <style>
<!--        .my-profile-content{-->
<!--            margin-left: auto;-->
<!--            margin-right: auto;-->
<!--            width: 300px;-->
<!--        }-->
<!--        .card {-->
<!--          padding: 10px;-->
<!--          background-color: #f8f8f8;-->
<!--          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);-->
<!--          transition: 0.3s;-->
<!--        }-->

<!--        .card:hover {-->
<!--          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);-->
<!--        }-->
<!--        .btn-primary{-->
<!--            float: right;-->
<!--        }-->

    </style>
{% endblock content %}