{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Мой профиль
{% endblock title %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
    <div class="my-profile-card card">
        {% if confirm %}
            <div class="alert alert-primary" role="alert">
                Your profile updated
            </div>
        {% endif %}        
        <img src="{{profile.logo.url}}" alt="my-profile" class="avatar-big">        
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for item in form %}
                <p>{{item}}</p>
            {% endfor %}
            <hr>
            <button type="submit" class="btn btn-primary">update</button>
        </form>
    </div>
{% endblock content %}