{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    База записей
{% endblock title %}

{% block scripts %}
    <script src="{% static 'manager/record_base.js' %}"></script>
{% endblock scripts %}

{% block content %}
    <form method="post" name="main-form">
        {% csrf_token %}
        <div class="filters card">
            <p><input type="month" name="date" value="{{date}}" id="id_date"><a id="date_clear">X</a></p>
            <p>{{form.type}}</p>
            <p>{{form.name}}</p>
            <p><input type="number" max="99999" min="00000" name="per_num" value="{{per_num}}" id="id_per_num"></p>
            <button type="submit" name="filter">Фильтр</button>
        </div>

        <div class="base-content card">
            <table id="records-table">
                <tr class="table-header">
                    <td><button class="btn-sort" type="submit" name="sort" value="by_id">ID</button></td>
                    <td><button class="btn-sort" type="submit" name="sort" value="by_type">Тип</button></td>
                    <td><button class="btn-sort" type="submit" name="sort" value="by_name">Фамилия И.О.</button></td>
                    <td><button class="btn-sort" type="submit" name="sort" value="by_name">Табельный №</button></td>
                    <td><button class="btn-sort" type="submit" name="sort" value="by_date_from">Дата 1</button></td>
                    <td><button class="btn-sort" type="submit" name="sort" value="by_date_to">Дата 2</button></td>
                    <td>Удалить</td>
                </tr>
                {% for record in records %}
                    <tr>
                        <td>{{record.id}}</td>
                        <td>{{record.type}}</td>
                        <td>{{record.person.name}}</td>
                        <td>{{record.person.personnel_number}}</td>
                        <td>{{record.date_from}}</td>
                        <td>{{record.date_to}}</td>
                        <td>
                            <button class="killer" name="kill" value="{{record.id}}" onClick='return confirmSubmit()'>
                                <img class="image-close" src="{% static 'close.png' %}">
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </form>
{% endblock content %}