{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Заявки!!!
{% endblock title %}

{% block scripts %}
    <script src="{% static 'manager/record.js' %}"></script>
{% endblock scripts %}

{% block content %}
    <div class="record-content card">
        <form action="" class="form-record" method="post">
            {% csrf_token %}
            <select name="department_selected" id="id_dep_sel">
            {% for dep in departments %}
                <option>{{dep.name}}</option>
            {% endfor %}
            </select>
            <button id="id_cur_dep" style="display: none;" value="{{ department }}"></button>
            <hr>
            <div>
                <select name="person">
                    {% for person in persons %}
                        <option>{{person.name}}; {{person.personnel_number}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>{{form.type}}</div>
            <hr>
            <div>
                {{form.date_from}}<a id="button_date_from_today">&nbsp;today</a><br>
                {{form.time_from}}
            </div>
            <hr>
            <div>
                {{form.date_to}}<br>
                {{form.time_to}}
            </div>
            {% if confirmed %}
                <div class="" role="alert">{{alert}}</div>
            {% endif %}
            <button type="submit" id="make-record" class="btn btn-primary mt-3">Сделать!</button>
        </form>
    </div>
{% endblock content %}