{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Заявки!!!
{% endblock title %}

{% block scripts %}
    <script src="{% static 'manager/record.js' %}"></script>
{% endblock scripts %}

{% block content %}
    <div class="record-content card">
        <form action="" class="form-record" method="post">
            {% csrf_token %}
            <button id="id_cur_dep" style="display: none;" value="{{ department }}"></button>
            <select name="person" id="id_person">
                {% for person in persons %}
                    <option>{{person.name}}; {{person.personnel_number}}</option>
                {% endfor %}
            </select>
            {{form.type}}
            <hr>
            {{form.date_from}}
            {{form.time_from}}
            <hr>
            {{form.date_to}}
            {{form.time_to}}
            {% if confirmed %}
                <div class="" role="alert">{{alert}}</div>
            {% endif %}
            <button type="submit" id="make-record" class="btn btn-primary mt-3">Сделать!</button>
        </form>
    </div>
{% endblock content %}