{% extends 'base.html' %}
{% load static %}

{% block title %}
    График для табельной!!!!!
{% endblock title %}

{% block scripts %}
<script src="{% static 'manager/timesheet.js' %}"></script>
{% endblock scripts %}

{% block content %}
    <div class="form-content card">
        <form method="post">
            {% csrf_token %}
            <p class="card-title mt-3 mb-3">График для табельной!!!!!</p>
            <div class="date">{{form.date}}</div>
            <button class="btn btn-primary mt-3 w-100" name="submit-half" type="submit">за 15 дней</button>
            <button class="btn btn-primary mt-3 w-100" name="submit-full" type="submit">за весь месяц</button>
        </form>
    </div>

{% endblock content %}