{% extends 'base.html' %}
{% load static %}

{% block title %}
    График для табельной!!!!!
{% endblock title %}

{% block scripts %}
<script src="{% static 'manager/timesheet.js' %}"></script>
{% endblock scripts %}

{% block content %}
    <div class="timesheet-card card">
        <form method="post">
            {% csrf_token %}
            <h4>График для табельной!!!!!</h4>
            <p style="display: none;">{{form.date}}</p>
            <p><input type="month" id="timesheet-month"></p>
            <button class="" name="submit-half" type="submit">за 15 дней</button>
            <button class="" name="submit-full" type="submit">за весь месяц</button>
        </form>
    </div>

{% endblock content %}