{% extends 'base.html' %}
{% load static %}

{% block title %}
    Магический квадрат
{% endblock title %}

{% block scripts %}
<script src="{% static 'manager/timesheet.js' %}"></script>
{% endblock scripts %}

{% block content %}
    <div class="form-content card">
        <form method="post">
            {% csrf_token %}
            <p class="card-title mt-3 mb-3">Магический квадрат</p>
            <div class="date">{{form.date}}</div>
            <button class="btn btn-primary mt-3 w-100" name="submit" type="submit">Сделать!</button>
        </form>
    </div>
{% endblock content %}