{% extends 'base.html' %}
{% load static %}

{% block title %}
    Магический квадрат
{% endblock title %}

{% block scripts %}
<script src="{% static 'manager/timesheet.js' %}"></script>
{% endblock scripts %}

{% block content %}
    <div class="timesheet-card card">
        <form method="post">
            {% csrf_token %}
            <h4>Магический квадрат</h4>
            <p style="display: none;">{{form.date}}</p>
            <p><input type="month" id="timesheet-month"></p>
            <button name="submit" type="submit">Сделать!</button>
        </form>
    </div>

{% endblock content %}