body{
    margin-top: 70px;
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
.navbar{
    width: 100%;
    z-index: 10000;
    position: fixed;
    top: 0px;
    background-color: #333;
}

.navbar a{
    float: left;
    display: block;
    color: #f8f8f8;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover{
    background-color: #444;    
}
.navbar a.active{
    background-color: #777;
}
.navbar .nav-right{
    float: right;
}
.navbar .nav-center{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}
.navbar .a-img{
    padding: 12px 0px 10px 12px;
}
.navbar img{
    width: 25px;
    height: 25px;    
}
@media screen and (max-width: 800px){
    .navbar a, .nav-right{
        float: none;
        display: block;
    }
    .navbar-center a{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}

#department-selector{
    display: block;
    font-size: inherit;
    background-color: #bbffaa;
    line-weight: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    border: 1px;
    box-sizing: border-box;
    margin: 0;
}
#department-selector:hover{
}


/* cards */
.card {
  padding: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* my profile */
.my-profile-card{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.my-profile-card *{
    width: 100%;  
}

/* record page */
.record-content{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
.record-content *{
    width: 100%;
    padding: 2px;
}
.record-content hr{
    padding: 0;
}
.disabled{
    color: #999;
}
.record-content p{
    padding: 3px;
    margin: 0;
}
.record-content input{
    width: 97%;
}

/* timesheet page */
.timesheet-card {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}



/* record-base page */
#id_name, #id_per_num, #id_date{
    width: 180px;
}

.filters{
    display: inline;
    width: 220px;
    position: fixed;
}
.filters button{
    padding: 3px;
    width: 150px;
    float: bottom;
}

.image-close{
    height: 25px;
    width: 25px;
    margin-left: auto;
    margin-right: auto;
}
.btn-sort{
    border:0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #eee;
}
.btn-sort:hover{
    background-color: #ddd;
}

table, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 3px;
}
.base-content{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
