{% load static %}
{% url 'manager:home' as path_home %}
{% url 'manager:record' as path_record %}
{% url 'manager:timesheet' as path_timesheet %}
{% url 'manager:time_track' as path_time_track %}
{% url 'manager:record_base' as path_record_base %}
{% url 'manager:my_profile' as path_profile %}
{% url 'logout' as path_logout %}

<div class="navbar">
<!--    <a class="navbar-brand" href=""><img src="{% static 'favicon-32x32.png' %}" class="logo-sm"></a>-->


  {% if request.user.is_authenticated %}
    <a class="{% if request.path == path_record %}active{% endif %}" href="{{path_record}}">Заявки</a>
    <a class="{% if request.path == path_timesheet %}active{% endif %}" href="{{path_timesheet}}">График</a>
    <a class="{% if request.path == path_time_track %}active{% endif %}" href="{{path_time_track}}">Магический квадрат</a>
    <a class="{% if request.path == path_record_base %}active{% endif %}" href="{{path_record_base}}">База записей</a>
    <a class="nav-center">
      <select id="department-selector">
      {% for dep in departments %}
        <option {% if dep.name == department.name %}selected{% endif %}>{{dep.name}}</option>
      {% endfor %}
      </select>
    </a>

    <a class="nav-right {% if request.path == path_logout %}active{% endif %}" href="{{path_logout}}">Logout</a>
    <a class="nav-right {% if request.path == path_profile %}active{% endif %}" href="{{path_profile}}">{{request.user}}</a>
    <a class="nav-right a-img {% if request.path == path_profile %}active{% endif %}" href="{{path_profile}}"><img src="{{request.user.profile.logo.url}}"></a>
  {% endif %}
</div>
